---
import "../styles/iv.css";
import reseaux from "../data/reseaux.json";
import logo from "../assets/logo-inbt.svg";
import Gpg from "../content/signature-gpg.md";
---

<html>
    <head>
        <meta charset="utf-8" />
        <title>Indignons-nous !</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="keywords" lang="fr" content="Bloquons tout, Indignons-nous, 10 Septembre, 10 Septembre 2025" />
        <meta name="location" content="France, FRANCE" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet" />
    </head>

    <body>
        <header class="banniere">
            <img
                class="logo_une"
                src={logo.src}
                alt="Logo Indignons-nous"
            />
            <h1>✊ 10 Septembre 2025</h1>
        </header>

        <main class="center">
            <section class="postit">
                <h2>Les raisons de notre colère</h2>
                <p>Le plan Bayrou, c’est :</p>
                <ul>
                    <li>
                        Une année blanche sans investissement dans les salaires,
                        les retraites, ni les services publics.
                    </li>
                    <li>
                        3000 postes supprimés, un fonctionnaire sur trois non
                        remplacé.
                    </li>
                    <li>
                        5 milliards retirés à la santé, franchises doublées pour
                        les malades.
                    </li>
                    <li>Deux jours fériés supprimés.</li>
                    <li>Six jours de carence en cas d’arrêt maladie.</li>
                    <li>Aucune hausse des aides ni des pensions.</li>
                </ul>
                <p>
                    Nous disons <strong>NON</strong> et appelons toutes les personnes
                    résidant en France métropolitaine et dans les DOM-TOM à se mobiliser
                    contre ce budget !
                </p>
                <p>
                    Nous ne voulons pas subir leur crise.<br />
                    Nous voulons changer de cap, pour de bon, avec et pour le peuple.
                    Pas contre lui.
                </p>
                <section>
                    <p class="big">
                        <strong>
                            NOUS APPELONS CHAQUE DÉPUTÉ À FAIRE SON DEVOIR :
                            <span>
                                VOTER LA MOTION DE CENSURE CONTRE CE PLAN
                                INJUSTE ET DANGEREUX.
                            </span>
                        </strong>
                    </p>
                    <div class="danger-banner">
                        <span class="emoji">⚠️</span>
                        <span class="text">
                            LES FRANÇAIS VOUS REGARDENT.<br />
                            ILS N’OUBLIERONT PAS.
                        </span>
                    </div>
                </section>
            </section>

            <div class="sidebar">
                {
                    reseaux.map((group) => (
                        <section>
                            <h2>{group.nom}</h2>
                            <ul>
                                {group.liens.map((lien) => (
                                    <li>
                                        <a href={lien.url}>{lien.nom}</a>
                                    </li>
                                ))}
                            </ul>
                        </section>
                    ))
                }

                <section>
                    {Gpg && <Gpg />}
                </section>
            </div>
        </main>
    </body>
</html>
